<%- include("./partials/header.ejs") %> 
<%- include("./partials/auth.ejs") %> 
<h1>Landing page title</h1>

This is one application that ....

<h2>Summarization</h2>

    <p><% if (today.mood) {%>Average mood today is <%= today.mood %>.<% } else {%>Mood has not been reported for today.<%} %>
        <% if (yesterday.mood) {%>Average mood yesterday was <%= yesterday.mood %>.<% } else {%>Mood was not reported for yesterday.<%} %>
    </p>
    <p>
        <%if (!today.mood || !yesterday.mood) {%>The averages of today and yesterday cannot be compared.<%} else if (Number(today.mood) >= Number(yesterday.mood)) {%>Things are looking brighter today!<%} else {%>Things are looking gloomy today...<%} %>  
    </p>

<p><a href="/behavior/reporting">Press here</a> to go to reporting. Login is required.</p>

<p><a href="/behavior/summary">Press here</a> to go to summarization. Login is required.</p>

<p><a href="/auth/login">Press here</a> to go to login.</p>

<p><a href="/auth/registration">Press here</a> to go to registration.</p>

<p><a href="/auth/logout">Press here</a> to go to go to logout.</p>

<%- include("./partials/footer.ejs") %> 