<%- include("../partials/header.ejs") %> 
<h1>Summary for user <%= user_id %>  for week <%= week %> </h1>
<% if (dataFound) { %>
<ul>
    <li>Mood: <%= results.mood %></li>
    <li>Sleep Duration: <%= results.sleep_duration %></li>
    <li>Sleep Quality: <%= results.sleep_quality %></li>
    <li>Time Excercising: <%= results.time_sport %></li>
    <li>Time Studying: <%= results.time_study %></li>
    <li>Eating Quality: <%= results.eating %></li>
</ul>
<% } else {%>There was no data for the requested time period.<%} %>
<%- include("../partials/footer.ejs") %> 