<%- include("../partials/header.ejs") %>
<%- include("../partials/auth.ejs") %>
<h1>Summary for user</h1>
Averages for the last seven days:
<ul>
    <li>Mood: <%= w_data.mood %></li>
    <li>Sleep Duration: <%= w_data.sleep_duration %></li>
    <li>Sleep Quality: <%= w_data.sleep_quality %></li>
    <li>Time Excercising: <%= w_data.time_sport %></li>
    <li>Time Studying: <%= w_data.time_study %></li>
    <li>Eating Quality: <%= w_data.eating %></li>
</ul>
Averages for the last 30 days:
<ul>
    <li>Mood: <%= m_data.mood %></li>
    <li>Sleep Duration: <%= m_data.sleep_duration %></li>
    <li>Sleep Quality: <%= m_data.sleep_quality %></li>
    <li>Time Excercising: <%= m_data.time_sport %></li>
    <li>Time Studying: <%= m_data.time_study %></li>
    <li>Eating Quality: <%= m_data.eating %></li>
</ul>
<form method="POST" action="/behavior/summary/week">
    <input type="week" name="week">
    <input type="submit" title="Summary for week">
</form>
<form method="POST" action="/behavior/summary/month">
    <input type="month" name="month">
    <input type="submit" title="Summary for month">
</form>
<%- include("../partials/footer.ejs") %> 