<%- include("../partials/header.ejs") %>
<%- include("../partials/auth.ejs") %>
<h1>Summary for user</h1>
Averages for the last seven days:
<ul>
    <li>Mood: <%= w_data.mood %></li>
    <li>Sleep Duration: <%= w_data.sleep_duration %></li>
    <li>Sleep Quality: <%= w_data.sleep_quality %></li>
    <li>Time Excercising: <%= w_data.time_sport %></li>
    <li>Time Studying: <%= w_data.time_study %></li>
    <li>Eating Quality: <%= w_data.eating %></li>
</ul>
Averages for the last 30 days:
<ul>
    <li>Mood: <%= m_data.mood %></li>
    <li>Sleep Duration: <%= m_data.sleep_duration %></li>
    <li>Sleep Quality: <%= m_data.sleep_quality %></li>
    <li>Time Excercising: <%= m_data.time_sport %></li>
    <li>Time Studying: <%= m_data.time_study %></li>
    <li>Eating Quality: <%= m_data.eating %></li>
</ul>
<p>You may also request a summary for a specific week or month. Note that they may lack any report data.</p>
<p>Request a summary for a week:</p><br>
<form method="POST" action="/behavior/summary/week">
    <label for="week">Choose a week:</label>
    <input type="week" name="week" id="week" required />
    <input type="submit" title="Summary for week">
</form>
<p>Request a summary for a month:</p><br>
<form method="POST" action="/behavior/summary/month">
    <label for="month">Choose a month:</label>
    <input type="month" name="month" id="month" required />
    <input type="submit" title="Summary for month">
</form>
<p><a href="/">Press here</a> to return to the landing page.</p>
<%- include("../partials/footer.ejs") %> 